.benefits {
    background: url(../img/skew_bg.png) no-repeat;
    background-position: 0px 100px;
    background-size: 100%;
    min-height: 600px;
}

.benefits__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    margin: 40px auto 0;
    max-width: 1140px;
}

.benefits__item {
    box-shadow: 0 0 23px 1px rgba(0, 0, 0, 0.08);
    border-radius: 28px;
    margin: 15px 1%;
    background: #fff;
    padding: 25px 15px;
    display: flex;
    flex-basis: 45%;
}

.benefit {
    display: flex;
    align-items: center;
}

.benefit__content {
    margin-right: 30px;   
}

.benefit__title {
    color: #898989;
    font-family: "OpenSansHebrew-ExtraBold";
    font-size: 22px;
    margin-bottom: 15px;
}

.benefit__description {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 24px;
}