
.clients {
    max-width: 1140px;
    margin: 80px auto 70px;    
    &__client {
        /* display: inline-block;
        vertical-align: middle; */
        margin: 0 10px;
        img {
            outline: none;   
            max-width: 170px;
            margin: auto;
        }
    }
    &.slick-initialized .slick-slide {
        display: inline-block !important;
    }
}
.clients__wrapper {
    padding: 30px 0 0px;  
}
.clients-arrow {
    position: absolute;
    top: 50%;
    margin-top: -50px;    
    width: 50px;
    cursor: pointer;
    img {
        width: 100%;
    }
}
.clients-prev-arrow {
    left: -90px;
}
.clients-next-arrow {
    right: -90px;
}
@media (max-width: 1350px) {
    .clients-prev-arrow {
        left: -40px;
    }
    .clients-next-arrow {
        right: -40px;
    }
    .clients {
        max-width: 960px;
    }
}
@media (max-width: 1100px) {
    .clients {
        max-width: 800px;
        &__client img {                
            max-width: 120px
        }
    }
    .clients-arrow {
        margin-top: -42px;
        width: 40px;
    }
}
@media (max-width: 900px) {
    .clients {
        max-width: 650px;
    }
}
@media (max-width: 760px) {
    .clients {
        max-width: 500px;
    }
}
@media (max-width: 600px) {
    .clients-arrow {
        color: #fff;
        border-radius: 50%;
        background-color: #d7d7d7;
        height: 120px;
        width: 120px;
        padding-top: 35px;
        font-size: 45px;
        box-sizing: border-box;
        margin-top: 0;
        top: -20px;
    }
    .clients-next-arrow {
        text-align: left;
        right: -63px;
        padding-left: 10px; 
    }
    .clients-prev-arrow {
        text-align: right;
        left: -63px;
    }
    .clients {
        max-width: 100%;
        padding: 0 18%;
    }
}
@media (max-width: 450px) {
    .clients {
        padding: 0 12%;
    }
    .clients-arrow {
        width: 100px;
        height: 100px;
        font-size: 30px
    }    
}