.section_form {
    background: url(../img/bg_form.png) no-repeat;
    background-position: -40px 0;
    overflow: hidden;    
}

.contact_form {
    max-width: 400px;
    margin: 20px auto;
    display: block;
}

.contact_form__input {
    border-radius: 29px;
    border: 2px solid #00bff3;
    padding: 10px 15px;
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
    box-sizing: border-box;
    &.error {
        border: 2px solid #ff0000;
        &::placeholder {
            color: #ff0000;
        }
    }
}

.contact_form__button {
    border-radius: 29px;
    border: 2px solid #00bff3;
    background-color: #00bff3;
    color: #fff;
    font-size: 20px;
    position: relative;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    font-weight: bold;
    transition: .3s;
    cursor: pointer;    
    &:before {
        content: '';
        width: 54px;
        height: 17px;
        position: absolute;
        background: url(../img/arrow-left-form.png) no-repeat;
        left: 20px;
        top: 13px;
        display: block;
        transition: .3s;
    }
    &:hover {
        background-color: #06b4e4;
        &:before {
            left: 12px;
        }
    }
}

.contact_numbers {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 20px auto;
}

.number__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        text-decoration: none;
        font-family: 'OpenSansHebrew-ExtraBold';
        font-size: 20px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.number__image {
    max-width: 105px;
}
.number__whatsapp {    
    color: #3fd889;    
}
.number__email {
    color: #00bff3;
}
.number__phone {
    color: #f68e56;
}

@media (max-width: 800px) {
    .section_form {
        background: transparent;
    }
    .contact_form__button {
        background-image: linear-gradient(-80deg, #0ad2fd 0%, #00aeef 100%);
        border-color: transparent;
    }
    .mobile-bg-form {
        background: url(../img/bg_form.png) no-repeat;
        width: 100%;
        min-height: 500px;
        background-position: -50px 100%;
        background-size: contain;
        margin-top: 40px;
    }
}
@media (max-width: 550px) {
    .contact_numbers, .contact_form {
        max-width: 80%;
    }
    .number__whatsapp, .number__email, .number__phone {
        display: none;
    }
    .mobile-bg-form {
        margin-top: 0;
        min-height: 400px;
    }
}
@media (max-width: 400px) {
    .contact_numbers {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .number__image {
        max-width: 83px;
    }
    .mobile-bg-form {
        min-height: 350px;
        background-size: cover;
    }
}
@media (max-width: 350px) {
    .mobile-bg-form {
        background-size: contain;
        min-height: 300px;
    }
}