.decisions__container {
    display: flex;
    flex-wrap: wrap;
    align-itens: center;
    margin: 0 auto;
    justify-content: center;
    max-width: 900px;
}

.decisions__item {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 30px 0;
    &:first-child {
        margin: 0;
    }
    position: relative;
    
    .decision__image {
        margin-left: -50px;
        margin-right: 0;
    }
    &:nth-child(odd) {
        flex-direction: row;
        .decision__image {
            margin-right: -50px;
            margin-left: 0;
        }    
    }
}

.decision__image {
    width: 60%;
    img {
        width: 100%;
        /* filter: blur(10px);
        transition: .6s;
        &.no-blur {
            filter: blur(0);
        } */
    }
}
.decision__content {
    margin-right: 30px;
    width: 40%;
}

.decision__title {
    font-family: "OpenSansHebrew-ExtraBold";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
}

.decision__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.decision__more {
    text-align: left;
    margin-top: 20px;
    a {
        background-color: #04e392;
        padding: 8px 15px 8px 35px;
        font-size: 18px;
        text-decoration: none;
        border-radius: 26px;
        color: #fff;
        position: relative;
        transition: .3s;
        &:before {
            content: '';
            background: url(../img/decisions/arrow-left.png) no-repeat;
            position: absolute;
            top: 12px;
            left: 13px;
            display: block;
            width: 15px;
            height: 15px;
            transition: .3s;
        }
        &:hover:before {
            left: 7px;
        }
        &:hover {
            background-color: #05cf85;        
        }
    }
}