.logos {
    margin-top: 200px;
    img {
        margin: 0 auto 25px;
        display: block;
        @media (max-width: 700px) {
            max-width: 95%;
        }
    }
    @media (max-width: 800px) {
        margin-top: 100px;
    }
    @media (max-width: 400px) {
        margin-top: 70px;
    }
}
.footer {    
    background-color: #0f465d;
    padding: 30px 0;    
    position: relative;
    &__logo {
        max-width: 140px;
        img {
            width: 100%;
        }
    }
    .footer_container {
        display: flex;
        justify-content: center;
    }
    &:before {
        content: '';
        background: url(../img/battlement.png) no-repeat;
        width: 100%;
        height: 8px;
        position: absolute;
        top: -6px;
        left: 0;
    }    
    .footer__item {
        margin-top: 40px;
        &:first-child {
            margin-top: 0;
        }
    }
    .footer__item ul, .footer__mobile ul {
        list-style: none;        
        padding-right: 30px;
        margin-top: 3px;
        margin-right: 30px;
        li a{
            font-size: 16px;
            line-height: 2;
            font-weight: 400;            
            color: #fff;
            text-decoration: none;
            &:hover {
                text-decoration: underline
            }       
        }
    }

    .contact__data {
        color: #fff;
        padding-top: 20px;
        padding-left: 10px;
        padding-bottom: 20px; 
        border-left: 1px solid rgba(253, 253, 253, 0.47);        
        .data__item {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            margin: 10px 0;
            .item__image {
                margin-left: 15px;
            }
        }
    }
    .contact__social {
        margin-top: 10px;
        ul {
            border: none;
            list-style: none;
            padding: 0;
            margin-right: 0;
        }
        li {
            display: inline-block;
            margin: 0 3px;
            max-width: 30px;
            img {
                width: 100%;
            }
        }
    }

    .copyright {
        color: #fff;
        font-size: 14px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        direction: ltr;
        .item {
            margin: 0 20px;
            a {
                text-decoration: underline;
                color: #fff;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
.footer__mobile {
    display: none;
}

@media (max-width:1400px) {
    .footer .footer__item ul {
        margin-right: 0;
    }
}
@media (max-width: 1300px) {
    .footer .footer__item {
        li {
            margin: 10px 0;
        }
        ul li a {
            line-height: 1;
        }
    }
    .footer {
        padding: 30px 12px;
    }
}
@media (max-width: 992px) {
    .footer {
        padding: 70px 12px 30px;
        &_container {
            flex-wrap: wrap;
        }
        .footer__item {
            margin-top: 0;
            &:nth-child(5), &:nth-child(6) {
                margin-top: -100px;
            }
        }
        &__contact {
            margin-top: -35px;
        }
    }    
}

@media (max-width: 860px) {
    .contact__data {
        display: none;
    }
    .footer {
        padding: 40px 12px 30px;
        .footer__item {     
            &:nth-child(5), &:nth-child(6) {
                margin-top: 0;
            }
        }
        .footer__item:first-child {
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__logo {
            width: 180px;
            img {
                width: 100%;
            }
        }
    }
    .contact__social li {
        margin: 10px 4px !important;
        img {
            width: 35px;
        }
    }
}

@media (max-width: 650px) {
    .footer {
        .footer__item {
            display: none;
            &:first-child {
                display: flex;
            }
        }
        &__mobile {
            display: flex;
            justify-content: space-around;  
            position: relative;          
            ul {
                margin-right: 0 !important;            
            }
            &::after {
                content: '';
                height: 3px;
                width: 80%;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: #fff;
                opacity: 0.41;
                margin: auto;
            }
        }
        .copyright {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
}
@media (max-width: 550px) {
    .footer__mobile {
        justify-content: center;
    }    
}
@media (max-width: 500px) {
    .footer .footer__mobile {

        ul {
            padding-right: 10px;
        }
    }    
}
@media (max-width: 400px) {
    .footer__mobile {
        a {
            font-size: 14px !important;
        }
        &:after {
            width: 90%;
        }
    }
}
@media (max-width: 350px) {
    .footer__mobile {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-right: 20%;
    }
    .footer .copyright .item {
        margin: 0;
    }
}