
.header {
    position: relative;
    margin-top: 70px;
}
.header__content {
    margin: auto;
    max-width: 600px;
    position: absolute;
    top: 26%;
    right: 17%;
}
.header__title {
    color: #ffffff;
    font-family: "OpenSansHebrew-ExtraBold";
    font-size: 58px;
    line-height: 1;
}
.header__description {
    font-size: 25px;
    color: #fff;
    margin: 20px 0;
}
.header__button_wrapper {
    position: relative;
    top: 20px;
}
.header__button {
    border-radius: 31px;
    border: 3px solid #ffffff;
    background-color: #00c87f;
    font-family: "OpenSansHebrew-ExtraBold";
    color: #fff;
    padding: 14px 20px 14px 65px;
    font-size: 25px;
    position: relative;
    text-decoration: none;
    transition: 0.3s;
    &:before {
        content: "";
        background: url(../img/arrow-left-lg.png) no-repeat;
        position: absolute;
        top: 20px;
        left: 20px;
        display: block;
        width: 26px;
        height: 25px;
        transition: 0.3s;
    }
    &:hover {
        background-color: #06bd7a;
        &:before {
            left: 14px;
        }
    }
}