@media (max-width: 1700px) {
    .header__content {
        right: 10%;
    }
}
@media (max-width: 1500px) {
    .menu li.menu__li {
        font-size: 16px;
    }    
    .review__image {
        flex-basis: 35%;
    }    
    .section_form {
        background-size: 30%;
        background-position: -40px 50%;
    }
    .header__content {
        right: 6%;
    }
    .menu .dropdown-menu li a {
        font-size: 24px;
    }
}
@media (max-width:1450px) {
    .menu .dropdown-menu .column-group {
        margin: 0 25px;
    }
}
@media (max-width: 1400px) {
    .navigation__join, .navigation__enter, .phone a {
        font-size: 16px
    }
    .phone__icon img {
        width: 18px;
    }
    .bnr {
        display: none;
    }
    .header {
        background: url(../img/bnr2.png) center/cover no-repeat;
        min-height: 650px;
        display: flex;
    }
    .menu li.menu__li {
        margin: 0 19px;
    }

}
@media (max-width: 1340px) {
    .header__content {
        right: 5%;
        top: 15%;
    }
}
@media (max-width: 1270px) {
    .menu li.menu__li, .navigation__join, .navigation__enter, .phone a {
        font-size: 14px;
    }
    .navigation .logo {
        width: 130px;
    }
    .menu .dropdown-menu li a {
        font-size: 18px
    }
    .header__content {
        right: 4%;        
    }
}
@media (max-width: 1200px) {
    .benefits__item {
        flex-basis: 44%;
        margin: 15px 10px
    }
    .benefits__container {
        max-width: 90%;
    }
    .reviews__review {
        padding: 0 40px;
    }
}
@media (max-width: 1130px) {
    .navigation__enter, .navigation__join {
        display: none;
    }
    .header__content {
        max-width: 500px;
        right: 8%;
    }
    .header__title {
        font-size: 48px;
    }
    
}

@media (max-width: 1090px) {
    .header__content {
        right: 5%;
        max-width: 400px;
    }
    .header__title {
        font-size: 38px;
    }
    .header__description {
        font-size: 20px
    }
    .header__button {
        padding: 10px 20px 10px 65px;
        &:before {
            top: 15px;
        }
    }
    .benefit__content {
        margin-right: 15px;
    }
}
@media (max-width: 1000px) {
    .menu .dropdown-menu li {
        flex-basis: 31%;
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media (max-width: 930px) {
    .benefits__item {
        flex-basis: 80%;
        align-items: flex-start;
    }
    .benefits {
        background-size: cover;
        background-position: 40% 0;
    }
    .decisions__item:first-child {
        margin: 30px 0;
    }
    .decisions__container {
        margin-top: 30px;
    }
}
@media (max-width: 890px) {
    .navigation {
        display: none;
    }
    .navigation-mobile {
        display: flex;
    }
    .phone {                
        border-radius: 24px;
        margin-left: 0;
        background-color: #3098fc;
        padding: 2px 12px;
        a {
            font-size: 20px;
            color: #fff;
        }
    }
    .navigation-mobile .logo {
        width: 140px;
    }
    .menu-toggle {
        margin-top: 9px;
    }
}
@media (max-width: 650px) {
    .header__content {
        top: 10%;
        right: 0;
        left: 0;
    }
    .header {
        background: url(../img/header-mobile.png) center/cover no-repeat;
        background-position: 0 100%;
        min-height: 800px;
    }
    .decisions__item {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 45px;
    }
    .decision__image {
        flex-basis: 90%;
    }
    .decision__content {
        flex-basis: 70%
    }
    .decisions__container {
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    .menu-toggle {
        width: 30px;
        margin-top: 11px;
    }
    .navigation-mobile .logo {
        width: 130px;
    }
    .phone {
        padding: 0px 14px;
        a {
            font-size: 16px;            
        }
        .phone__icon {
            margin-top: 5px;
        }
        img {
            width: 15px;            
        }
    }
    .benefits__item {
        flex-basis: 90%;
    }
    .hr, .hr_blue {
        width: 192px;
        background-position: center top;
    }
    .h2 {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 450px) {
    .header__content {
        max-width: 90%;
        padding-right: 30px;
    }
    .header__title {
        font-size: 32px;
    }
    .header__description {
        font-size: 18px;
    }
    .header__button {
        font-size: 20px;
        &:before {
            top: 11px;
        }
    }
    .header {
        min-height: 740px;
    }
    .decision__image {
        margin: 0 0 25px 0 !important;
        flex-basis: 100%;        
        img {
            display: none;
        }
    }
    .decision__content {
        flex-basis: 85%;
        margin-right: 0;
    }
    @for $i from 0 through 4 {
        .blur#{$i} {
            background: url(../img/decisions/decision#{$i}.png) center/cover no-repeat;
            width: 100%;
            min-height: 400px;
            @if $i == 1 {
                background-position: 0 0;
                background-size: 115%;
                min-height: 350px;
            }
            @if $i == 2 {
                background-position: 100% 0;
            }
            @if $i == 3 {
                background-position: 20% 50%;
                background-size: 112%;
            }
            @if $i == 4 {
                background-position: -30% 50%;
                background-size: 105%;
            }
        }
    }
}
@media (max-width: 400px) {
    .phone {
        padding: 0 10px;
        a {
            font-size: 14px;
        }
    }
    .navigation-mobile .logo {
        width: 120px;
    }
    .menu-toggle {
        width: 25px;
    }
    .benefit__image {
        flex-shrink: 0;
        img {
            width: 73%;
        }
    }
    .benefit__content {
        margin-right: -12px;
    }
    .benefit__title {
        font-size: 20px;
        margin-bottom: 8px;
    }
}
@media (max-width: 380px) {
    .header__description {
        font-size: 16px;
    }
    .header__title {
        font-size: 28px;
    }
    .header {
        min-height: 650px
    }
    .blur1 {
        min-height: 300px
    }
    .blur2, .blur3 {
        min-height: 370px
    }
    .blur4 {
        min-height: 330px
    }
}
@media (max-width: 350px) {
    .navigation-mobile {
        justify-content: space-between;
        padding: 0 8px;
        box-sizing: border-box;
    }
    .phone {
        img {
            width: 12px;
        }
        .phone__icon {
            margin-top: 2px;
            margin-left: 5px;
        }
    }
    .header {
        min-height: 620px
    }
    .benefit__image {     
        img {
            width: 65%;
        }
    }
    .benefits__item {
        margin: 10px;
    }
    .benefit__content {
        margin-right: -25px;
    }
    .benefit__title {
        font-size: 18px;
    }
    .benefit__description {
        font-size: 16px;
    }
    .blur1 {
        min-height: 270px
    }
    .blur2, .blur3 {
        min-height: 340px
    }
    .blur4 {
        min-height: 290px
    }
    .header__content {
        padding-right: 10px;
    }
}

@media (max-width: 330px) {
    .benefit__image {     
        img {
            width: 58%;
        }
    }
    .benefit__content {
        margin-right: -35px;
        padding-right: 0;
    }
    .benefit__title {
        font-size: 16px;
    }
    .benefit__description {
        font-size: 14px;
    }
    .blur1 {
        min-height: 240px
    }
    .blur2, .blur3 {
        min-height: 320px
    }
    .blur4 {
        min-height: 280px
    }
}