.navigation_wrapper {
    background: #fff;
    position: relative;
    z-index: 3;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 70px;
    background: #fff;    
    box-shadow: 2px 0 20px rgba(204, 204, 204, 0.87);
    .logo {
        width: 170px;
        height: auto;
        /* margin-left: 20px;
        margin-right: 20px; */
    }
    .menu {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;        
    }
}
.navigation__meta {
    display: flex;
}
.navigation__join {
    border-radius: 19px;
    background-color: $navigation_blue;
    color: #ffffff;
    font-family: "OpenSansHebrew-Bold";
    font-size: 18px;
    padding: 2px 10px;
    margin: 0 10px;
    text-decoration: none;
    transition: 0.4s;
    border: 2px solid transparent;
    &:hover {
        background-color: #fff;
        color: $navigation_blue;
        border: 2px solid $navigation_blue;
    }
}
.navigation__enter {
    border-radius: 19px;
    background-color: #fff;
    border: 2px solid $navigation_blue;
    color: #3098fc;
    font-family: "OpenSansHebrew-Bold";
    padding: 2px 10px;
    font-size: 18px;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
        background-color: $navigation_blue;
        color: #fff;
    }
}
.phone {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 15px;
    a {
        font-family: "OpenSansHebrew-ExtraBold", sans-serif;
        color: #3098fc;
        font-size: 18px;
        text-decoration: none;
        font-weight: 400;
    }
    a:hover {
        text-decoration: underline;
    }
    .phone__icon {
        margin-left: 10px;
        margin-top: 7px;
    }
}
.menu {
    position: relative;
    .dropdown-menu {
        visibility: hidden;
        display: flex;        
        position: fixed;
        z-index: 2;
        border-top: 1px solid #ccc;
        justify-content: center;
        width: 100%;        
        left: 0;
        right: 0;
        list-style: none;
        box-shadow: 6px 8px 9px rgba(0, 0, 0, 0.35);        
        background-color: #fff;
        top: 70px;
        padding: 35px 10px;
        box-sizing: border-box;
        li {            
            margin-bottom: 12px;
            flex-basis: 22%;
            margin-left: 10px;
            margin-right: 10px;
            /* border-bottom: 1px solid #ccc; */
            /* padding-bottom: 10px; */
            a {
                color: #444545;
                font-weight: 400;
                font-size: 28px;
                text-decoration: none;
            }
            a:hover {
                color: #000;
            }
        }
        &.onecolumn {
            flex-direction: column;
            padding: 35px 6%;
        }
        .column-group {
            margin: 0 30px;            
        }        
    }
    li.menu__li {
        margin: 0 25px;
        font-size: 20px;
        padding: 25px 0;
        position: relative;
        & > a {
            text-decoration: none;            
            font-weight: 700;
            font-family: 'OpenSansHebrew-Bold';
            color: #333;
        }
        &::after {
            content: "";
            position: absolute;
            height: 4px;
            width: 0;
            opacity: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            z-index: 100;
            border-bottom: 4px solid $blue;
            transition: .3s;
        }
        &:hover::after {
            width: 100%;
            opacity: 1;
        }
    }
    li.menu__li.dropdown {
        &::before {
            content: "";
            position: absolute;
            left: -20px;
            top: 47%;
            background: url(../img/menu-down.png) no-repeat;
            width: 13px;
            height: 6px;
        }
        &:hover:before {
            background: url(../img/menu-up.png) no-repeat;
        }
        &.hover {
            .dropdown-menu {
                visibility: visible;
            }
        }
        /* &:hover .dropdown-menu {            
            display: flex;
        } */
    }
}
