
.navigation-mobile {
    display: none;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    justify-content: space-around;
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 70px;
    box-shadow: 1px 0 10px rgba(204, 204, 204, 0.41);
}
.menu-mobile-container {
    display: none;
    overflow-y: scroll;
    position: fixed;    
    top: 0;
    height: auto;
    width: 94%;
    right: 0;
    z-index: 100;
    background: #fff;
    height: 100vh;
    box-shadow: -2px 14px 23px 9px rgba(0, 0, 0, 0.48);
}

.toggle-menu {    
    cursor: pointer;    
}
#toggle_menu2 {
    height: 70px;
    box-sizing: border-box;    
    padding-top: 17px;
    padding-right: 15px;
    @media (max-width: 380px) {
        padding-right: 10px;
    }    
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #38b1fa;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 4px;
}
.bar1 {
    width: 30px;
}
.bar2 {
    width: 25px;
}
.change {
    div {
        background: #3574ff;
    }
}
.change .bar1 {    
    transform: rotate(-45deg) translate(-7px, 6px);
    width: 35px;    
}
.change .bar2 {
    opacity: 0;    
}
.change .bar3 {    
    transform: rotate(45deg) translate(-8px, -8px);    
}
.menu-mobile {
    list-style: none;
    padding-right: 0;
    margin: 0;
    li {
        border-bottom: 1px solid #ccc;
        &:last-child {
            border: none;
        }
        a {
            padding: 8px 10px;
            color: #3574ff;            
            font-size: 26px;
            text-decoration: none;
            display: block;
        }
        .icon {    
            width: 25px;
            height: 25px;
            fill: #3574ff;
            float: right;
            margin-top: 6px;
            margin-left: 10px;
        }        
        &:hover>a {
            background-color: #3574ff;            
            cursor: pointer;
            .icon {
                fill: #fff;
            }
        }
        &:hover > a,
        &:focus > a,
        &:active > a {
            color: #fff;
        }
        &.active_li {            
            & > a,
            & .dropdown .material-icons {
                color: #fff;
                background-color: #3574ff;
            }
            .icon {
                fill: #fff;
            }
        }
        &:hover span.dropdown i.material-icons {
            color: #fff;
        }
        .dropdown {
            float: left;
            margin-top: 7px;
            i.material-icons {
                font-size: 2.2em;
                color: #537afa;
            }
        }
    }
    .dropdown-menu {
        list-style: none;        
        display: none;
        padding-right: 10px;
        li {
            a {
                font-size: 26px;
                color: #3574ff;
                padding-right: 35px
            }
            &:hover {
                background-color: #3574ff;                
                a {
                    color: #fff;
                }
            }
        }
    }
    
}