.reviews_wrapper {
    position: relative;
    margin-top: 120px;
}
.reviews_title {
    position: absolute;    
    left: 0;
    right: 0;
    top: -60px;
}
.reviews {
    max-width: 1170px;
    margin: 80px auto;    
    .review__text {
        position: relative;
        flex-basis: 45%;
        font-size: 18px;
        text-align: center;
        max-width: 380px;
        &::before {
            content: '';
            position: absolute;
            top: 70%;
            left: -120px;
            background: url(../img/quote_left1.png) no-repeat;
            width: 115px;
            height: 93px;
        }
        &::after {
            content: '';
            position: absolute;
            top: -20px;
            right: -120px;
            background: url(../img/quote_right1.png) no-repeat;
            width: 115px;
            height: 93px;
        }
    }

    &__review {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        margin-bottom: 70px;
        align-items: center;
        &:nth-child(2) {
            margin-top: -180px;
            .review__text {
                margin-top: 120px;
            }
        }
        &:nth-child(odd) {
            flex-direction: row;            
        }
        &:nth-child(even) {
            .review__text::before {
                background: url(../img/quote_left2.png) no-repeat;
            }
            .review__text::after {
                background: url(../img/quote_right2.png) no-repeat;
            }
        }
        &:nth-child(odd) .review__text {
            margin-left: 155px
        }
        &:nth-child(even) .review__text {
            margin-right: 155px;
        }
    }    

    .review__image {
        /* flex-basis: 30%; */
        img {
            width: 100%;
        }
    }
}
@media (max-width: 1200px) {
    .reviews__review:nth-child(odd), .reviews__review:nth-child(even) {
        .review__text {            
            &::after {
                width: 85px;
                height: 63px;
                background-size: contain;
                right: -90px;
            }
            &::before {
                width: 85px;
                height: 63px;
                background-size: contain;
                left: -90px
            }
        }        
    }
    .reviews__review {
        &:nth-child(odd) .review__text {
            margin-left: 125px
        }
        &:nth-child(even) .review__text {
            margin-right: 125px;
        }
    }
}

@media (max-width: 950px) {
    .reviews_title {
        position: static;
    }
    .reviews {
        margin: 30px auto 80px;
    }
    .reviews__review:nth-child(odd) .review__text {
        margin-left: 100px !important
    }
    .reviews__review:nth-child(even) .review__text {
        margin-right: 100px !important
    }
    .reviews__review:nth-child(odd), .reviews__review:nth-child(even) {
        .review__text {            
            &::after {
                width: 75px;
                height: 53px;                
                right: -50px;
                top: -40px;

            }
            &::before {
                width: 75px;
                height: 53px;      
                left: -60px;
                top: 95%;
            }
        }
    }
    .reviews__review:nth-child(2) {
        margin-top: -120px
    }
}

@media (max-width: 820px) {
    .reviews__review:nth-child(odd), .reviews__review:nth-child(even) {
        .review__text {            
            &::after {
                width: 65px;
                height: 43px;                
                right: -30px;
                top: -40px;

            }
            &::before {
                width: 65px;
                height: 43px;      
                left: -20px;
                top: 95%;
            }
        }
    }
    .reviews__review:nth-child(odd) .review__text {
        margin-left: 50px !important
    }
    .reviews__review:nth-child(even) .review__text {
        margin-right: 50px !important
    }
    .reviews .review__text {
        flex-basis: 55%;
    }
}
@media (max-width: 700px) {
    .reviews__review:nth-child(odd) .review__text,
    .reviews__review:nth-child(even) .review__text {
        margin: 0 !important
    }
    .reviews__review {
        flex-wrap: wrap;
        justify-content: center;
        &:nth-child(2) {
            margin-top: 0;
        }
    }
    .review__image {
        flex-basis: 60% !important;
        order: 1;
    }
    .review__text {
        order: 2;
        flex-basis: 80% !important;        
    }
    .reviews__review:nth-child(odd), .reviews__review:nth-child(even) {
        .review__text {
            max-width: 100%;
        }
    }
    .reviews {
        .text-left {
            text-align: center;
        }
    }
    .review__text {
        font-size: 22px !important;
    }
}
@media (max-width: 450px) {
    .reviews__review:nth-child(odd), .reviews__review:nth-child(even) {
        .review__text {
            flex-basis: 90% !important;
            line-height: 1.1;
            &::after {
                right: -40px;
                top: -25px;
            }
            &::before {
                left: -20px;
            }
        }
    }
    .review__text {
        font-size: 18px !important
    }
    .review__image {
        flex-basis: 90% !important;
    }
}