@import 'slick';

$green: #90b300;
$blue: #38b1fa;
$navigation_blue: #3098fc;
$greenHover: #7e9b09;
$dark: #131c25;
$darkHover: #0c1117;
$textColor: #707070;
$bg-orange: linear-gradient(-131deg, #fb8a25 0%, #fb8b24 3%, #f7941d 32%, #f7941d 70%, #f28422 100%);
$bg-green: linear-gradient(-131deg, #83a801 0%, #84a901 3%, #90b300 32%, #90b300 70%, #83a801 100%);
$bg-blue: linear-gradient(-131deg, #028ad0 0%, #028bd0 3%, #0195cc 32%, #0195cc 70%, #028ad0 100%);
$bg-light: #f3f4f4;

@font-face {
	font-family: 'OpenSansHebrew-Regular';
    src: local('ג˜÷'),
        url('../fonts/OpenSansHebrew-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansHebrew-Bold';
    src: local('ג˜÷'),
        url('../fonts/OpenSansHebrew-Bold.ttf') format('truetype');	
    font-style: normal;
}
@font-face {
	font-family: 'OpenSansHebrew-ExtraBold';
    src: local('ג˜÷'),
        url('../fonts/OpenSansHebrew-ExtraBold.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'OpenSansHebrew-Regular';
    color: $textColor;
    direction: rtl;
    overflow-x: hidden;
}
.overlay {    
    background: #000;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: .4s;
    visibility: hidden;
    &.active {
        opacity: .6;
        visibility: visible;
        z-index: 2;
    }
}
.container {
    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
    width: 100%;
}
.img-responsive {
    max-width: 100%;
    width: 100%;
    user-select: none;
}
.button {
    position: relative;
    font-size: 20px;
    color: #fff;
    padding: 12px 25px 12px 45px;
    border: none;
    margin-right: 20px;    
    font-weight: bold;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        top: 19px;
        left: 17px;
        width: 9px;
        height: 14px;
        background: url(../img/small_arrow_left.png) no-repeat;
    }
}
.rtl {
    direction: rtl;
}
.ltr {
    direction: ltr;
}
.content_wrapper {
    margin: auto;
    max-width: 480px;
    padding-right: 40px;
}

.hr, .hr_blue {
    background: url(../img/hr.png) no-repeat;
    width: 322px;
    height: 13px;
    margin: 0 auto;
    display: block; 
}
.hr_blue {
    background: url(../img/hr_blue.png) no-repeat;
}

.h2 {    
    font-size: 34px;
    font-weight: 400;
    margin: 30px 0 20px; 
    color: #2abef8;    
    font-size: 40px;    
    text-align: center;
    &.blue {
        color: #3098fc;
    }
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.pl20 {
    padding-left: 20px;
}

@import 'navigation';
@import 'navigation-mobile';
@import 'header';
@import 'benefits';
@import 'decisions';
@import 'clients';
@import 'reviews';
@import 'contact_form';
@import 'footer';
@import 'media';